@model PostIndexServiceModel
@inject IPostService postService

@{
    ViewData["Title"] = "Posts";
}
<div style="max-width: fit-content; margin-left: auto; margin-right:auto">
    <div class="card" style="width: stretch">
        <div class="card-body">
            <h5 class="card-title">@Model.PostTitle</h5>
            <h6 class="card-subtitle">@Model.PostUserName</h6>
            <p class="card-text">@Model.PostBody</p>
            <p class="card-text;">@Model.Price$ per hr.</p>
        </div>
        <div class="m-lg-auto">
            @if (await postService.IsPoster(Model.Id, User.Id()))
            {
                <a asp-controller="Post" asp-action="Edit" asp-route-id="@Model.Id" type="button" class="btn btn-outline-dark">Edit</a>
                <a asp-controller="Post" asp-action="Delete" asp-route-id="@Model.Id" type="button" class="btn btn-outline-warning">Delete</a>
            }
            <a href="javascript:window.history.back();" type="button" class="btn btn-outline-dark">Back</a>
        </div>
    </div>
</div>