@model IEnumerable<PostIndexServiceModel>

@{
    ViewData["Title"] = "Posts";
    var posts = Model.ToList();
}

<h2 class="text-center">Posts</h2>

@if (!posts.Any())
{
    <h5>No posts have been made yet.</h5>    
}

<div class="row ">
        @for (int i = 0; i < posts.Count(); i++)
        {
            var post = posts[i];
            <div class="card" style="width: 32%; margin: 6px;">
                <div class="card-body">
                    <h5 class="card-title">@post.PostTitle</h5>
                    <p class="card-text">@post.PostBody</p>
                    <div class="card-group" role="group">
                        <h6>@post.Price $ per hour</h6>
                        <h6>User: @post.PostUserName</h6>
                    </div>
                    <div>
                        <a asp-controller="Post" asp-action="Details" asp-route-id="@post.Id" class="btn-outline-dark" role="button">Details</a>
                    </div>
                </div>
            </div>
        }
</div>

